@CHARSET "ISO-8859-1";
/* .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active >
        a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: orange; BACKGROUND color for active
    background: #8fafd0;
} */


.navbar-inverse {
    background: #8fafd0
} 

/*  .navbar{
    height: 5dz5px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: #002d62;  
    font-family: 'Oswald', sans-serif;
    font-color: orange;
} */
 
 .navbar .navbar-brand{
 color: black;
 }
 
 .navbar-inverse .navbar-nav > .active > a {
    color: orange;
 }
 
 .navbar-inverse .navbar-nav .dropdown> a{
    color: black;
 }
/* .dropdown-submenu:hover > a:after {
    border-left-color: #555;
} */

